/* body {
  background: #000;
} */

:root {
  --scale-factor: 3;  /* sm */
  --cloud-primary-color: #c1ecb0;
  --cloud-secondary-color: #7cff99;
  --particle-color-1: #00e83e;
  --particle-color-2: #26ff2d;
  --particle-color-3: #26ff3f;
  --particle-color-4: #52ff6f;
  --particle-color-5: #48e870;
  --particle-color-6: #71e8a9;
  --glow-opacity: .6;
  --particle-size: 10px;
}

.dark {
  --glow-opacity: .5;
  --cloud-primary-color: #a9d199;
}

@media (min-width: 768px) {
  :root {
    --scale-factor: 3;  /* md */
    --particle-size: 15px;
  }
}

@media (min-width: 1024px) {
  :root {
    --scale-factor: 6;  /* lg */
  }
}

.glow {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  animation: glow 3s linear 0s infinite alternate;
  opacity: var(--glow-opacity);
}

@keyframes glow {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 calc(60px * var(--scale-factor)) calc(30px * var(--scale-factor)) var(--cloud-primary-color),
                calc(25px * var(--scale-factor)) calc(15px * var(--scale-factor)) calc(50px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--cloud-secondary-color),
                calc(-5px * var(--scale-factor)) calc(-25px * var(--scale-factor)) calc(30px * var(--scale-factor)) calc(10px * var(--scale-factor)) var(--cloud-secondary-color);
  }
  100% {
    transform: rotate(5deg);
    box-shadow: 0 0 calc(90px * var(--scale-factor)) calc(30px * var(--scale-factor)) var(--cloud-primary-color),
                calc(35px * var(--scale-factor)) calc(20px * var(--scale-factor)) calc(40px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--cloud-secondary-color),
                calc(-30px * var(--scale-factor)) calc(-30px * var(--scale-factor)) calc(40px * var(--scale-factor)) calc(10px * var(--scale-factor)) var(--cloud-secondary-color);
  }
}

.particles {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
}

.rotate {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
}

.angle {
  position: absolute;
  top: 0;
  left: 0;
}

.size {
  position: absolute;
  top: 0;
  left: 0;
}

.position {
  position: absolute;
  top: 0;
  left: 0;
}

.pulse {
  position: absolute;
  top: 0;
  left: 0;
}

.particle {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  width: var(--particle-size);
  height: var(--particle-size);
  border-radius: 50%;
}

.rotate {
  animation: rotate 20s linear 0s infinite alternate;
}

.pulse{
  animation: pulse 1.5s linear 0s infinite alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes angle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes size {
  0% {
    transform: scale(.2);
  }
  100% {
    transform: scale(.6);
  }
}

@keyframes position {
  0% {
    transform: translate(0,0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(calc(100px * var(--scale-factor)), calc(100px * var(--scale-factor)));
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(.5);
  }
}

@keyframes particle {
  0% {
    box-shadow: inset 0 0 20px 20px var(--particle-color-1), 0 0 50px 10px var(--particle-color-1), inset 0 0 80px 80px var(--particle-color-2);
  }
  33.33% {
    box-shadow: inset 0 0 20px 20px var(--particle-color-1), 0 0 130px 10px var(--particle-color-1), inset 0 0 50px 50px var(--particle-color-2);
  }
  33.34% {
    box-shadow: inset 0 0 20px 20px var(--particle-color-3), 0 0 50px 10px var(--particle-color-3), inset 0 0 80px 80px var(--particle-color-4);
  }
  66.66% {
    box-shadow: inset 0 0 20px 20px var(--particle-color-3), 0 0 130px 10px var(--particle-color-3), inset 0 0 50px 50px var(--particle-color-4);
  }
  66.67% {
    box-shadow: inset 0 0 20px 20px var(--particle-color-5), 0 0 50px 10px var(--particle-color-5), inset 0 0 80px 80px var(--particle-color-6);
  }
  100% {
    box-shadow: inset 0 0 20px 20px var(--particle-color-5), 0 0 130px 10px var(--particle-color-5), inset 0 0 50px 50px var(--particle-color-6);
  }
}

.rotate .angle:nth-child(1){
  /* change the angle every 2 seconds */
  animation: angle 10s steps(5) 0s infinite;
}
.rotate .angle:nth-child(1) .size{
  /* change the size of the particle every 2 seconds */
  animation: size 10s steps(5) 0s infinite;
}
.rotate .angle:nth-child(1) .particle{
  /* animate the glow and change the color every 2 seconds */
  animation: particle 6s linear infinite alternate;
}
.rotate .angle:nth-child(1) .position{
  /* animate the fly out of the particle and its fade out at the end */
  animation: position 2s linear 0s infinite;
}



.rotate .angle:nth-child(2){
  /* change the angle every 2 seconds */
  animation: angle 4.95s steps(3) -1.65s infinite;
}
.rotate .angle:nth-child(2) .size{
  /* change the size of the particle every 2 seconds */
  animation: size 4.95s steps(3) -1.65s infinite alternate;
}
.rotate .angle:nth-child(2) .particle{
  /* animate the glow and change the color every 2 seconds */
  animation: particle 4.95s linear -3.3s infinite alternate;
}
.rotate .angle:nth-child(2) .position{
  /* animate the fly out of the particle and its fade out at the end */
  animation: position 1.65s linear 0s infinite;
}

.rotate .angle:nth-child(3){
  /* change the angle every 2 seconds */
  animation: angle 13.76s steps(8) -6.88s infinite;
}
.rotate .angle:nth-child(3) .size{
  /* change the size of the particle every 2 seconds */
  animation: size 6.88s steps(4) -5.16s infinite alternate;
}
.rotate .angle:nth-child(3) .particle{
  /* animate the glow and change the color every 2 seconds */
  animation: particle 5.16s linear -1.72 infinite alternate;
}
.rotate .angle:nth-child(3) .position{
  /* animate the fly out of the particle and its fade out at the end */
  animation: position 1.72s linear 0s infinite;
}

.rotate .angle:nth-child(5) .position{
  /* animate the fly out of the particle and its fade out at the end */
  animation: position 2.45s linear 0s infinite;
}