
.disappearingComponent {
  transition-property: opacity, transform, max-height;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1.0);
  transition-duration: 500ms;
}

.maskedOverflow {
  mask-size: 100% 100%;
  mask-image: linear-gradient(to right, transparent,black 15%, black 85%, transparent);
}

@media (min-width: 640px) {
  .maskedOverflow {
    mask-size: none;
    mask-image: none;
    display: flex;
    justify-content: center;
  }
}

.fadingScrollWidth {
  max-width: min(100%, 700px);
}
